body {
}
.flex {
	display: flex
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-grow {
	flex-grow: 1;
}
.flex-grow-0 {
	flex-grow: 0;
}
.align-items-center {
	align-items: center;
}
.justify-content-start {
	justify-content: start
}
.justify-content-center {
	justify-content: center
}
.justify-content-end {
	justify-content: end
}
.h-full {
	height: 100%;
}
.w-full {
	width: 100%;
}
.m-0 {
	margin: 0px;
}
.p-lg {
	padding: 16px;
}
.p-x-lg {
	padding-left: 16px;
	padding-right: 16px;
}
.p-y-lg {
	padding-top: 16px;
	padding-bottom: 16px;
}
.p-l-lg {
	padding-left: 16px;
}
.p-r-lg {
	padding-right: 16px;
}
.p-t-lg {
	padding-top: 16px;
}
.p-b-lg {
	padding-bottom: 16px;
}
.bg-primary-500 {
	background: rgba(49, 87, 44, 1);
}
.text-surface-invert {
	color: #ffffff
}
.font-medium {
	font-weight: 500;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.overflow-auto {
	overflow: auto;
}

/* The container */
.checkbox-container {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 14px;
	/* padding-left: 24px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  opacity: 0;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.customizedCheckbox {
	position: absolute;
	top: 0px;
	left: 0px;
  height: 16px;
  width: 16px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	/* background: rgba(255,255,255,.5); */
	transition: background .2s;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .customizedCheckbox {
	border: 0px;
  background: #31572C;
	display: flex;
	align-items: center;
}

/* Create the customizedCheckbox/indicator (hidden when not checked) */
.customizedCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the customizedCheckbox when checked */
.checkbox-container input:checked ~ .customizedCheckbox:after {
  display: block;
}

/* Style the customizedCheckbox/indicator */
.checkbox-container .customizedCheckbox:after {
  left: 5px;
	top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
